.slick-prev-custom,
.slick-next-custom {
  position: absolute;
  top: 45%;
  left: 30px; /* Thêm thuộc tính này align nút ở bên trái (previous) */
  transform: translateX(50%); /* Sử dụng translateX để di chuyển theo trục x */
  z-index: 1;
  opacity: 0.3; /* Ẩn ban đầu */
  transition: opacity 0.3s ease;
}

.slick-next-custom {
  left: auto; /* Xóa thuộc tính left cho nút next */
  right: 70px; /* align nút next ở bên phải */
}

.slick-prev-custom:hover,
.slick-next-custom:hover {
  opacity: 1; /* Hiển thị khi hover */
}

/* Đặt kích thước cho dot slide */
.slick-dots li button:before {
  font-size: 12px; /* Điều chỉnh kích thước của dot slide */
  color: #FF6347;
}

/* Đặt kích thước cho dot slide được chọn */
.slick-dots li.slick-active button:before {
  font-size: 16px; 
  color: #FFA500;
}

