:root {
  --main-brand-color: #00628f;
  --button-yellow-color: #e0a800;
  --button-custom-color: #FFCC33;
}

a.nav-link {
  color: var(--main-brand-color) !important;
  font-weight: bold;
}

.text-main {
  color: var(--main-brand-color);
}

.bg-main-brand {
  background-color: var(--main-brand-color);
}

.bg-tab-como-size-2 {
  background-color: var(--button-yellow-color);
}

.bg-tab-como-size-1 {
  background-color: var(--button-custom-color);
}

.text-color {
  color: var(--button-yellow-color);
}

.btn-yellow {
  color: #212529;
  background-color: var(--button-yellow-color);
  border-color: var(--button-yellow-color);
  display: inline-block;
  font-weight: 400;
  text-align: center;
  width: 100%;
  border-radius: .25rem;
  line-height: 1.5;
  cursor: pointer;
  padding: .375rem .75rem;
  font-family: inherit;
  border: 1px solid transparent;
  outline: none;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out;
}

.btn-yellow:hover {
  color: #0e2741;
  background-color: #816817;
  border-color: #d39e00;
  font-weight: bold;
}

button:hover,
button:active,
button:focus {
  outline: none;
}
.btn-blue-selected {
  color: whitesmoke;
  background-color: var(--main-brand-color);
  border-color: var(--button-yellow-color);
  display: inline-block;
  font-weight: bold;
  text-align: center;
  width: 100%;
  border-radius: .25rem;
  line-height: 1.5;
  cursor: pointer;
  padding: .375rem .75rem;
  font-family: inherit;
  border: 1px solid transparent;
  outline: none;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out;
}