@media (max-width: 997px) {
    .navbar-toggler {
        order: 2; /* Đặt thứ tự của nút toggler */
        margin-left: auto; /* Đẩy nút toggler sang bên phải */
        margin-right: 30px; /* Đẩy nút toggler sang bên phải */
    }
    .navbar-collapse {
        position: fixed;
        top: 56px; /* Điều chỉnh theo chiều cao của navbar của bạn */
        left: 0;
        width: 100%;
        height: 0;
        background-color: #fff; /* Màu nền của menu */
        overflow: hidden;
        transition: height 0.3s ease;
        transform: translateY(-100%);
    }

    .navbar-collapse.show {
        height: auto;
        transform: translateY(0%);
    }
}

